
    <mat-dialog-content class="mat-typography">
        <mat-toolbar class="prim">
            <mat-toolbar-row fxLayout="row">
                <span class="title-centers">{{dialogData.action}} Détenteur </span>
            </mat-toolbar-row>
        </mat-toolbar>
        <form [formGroup]="detForm">
            <div fxFlex fxLayout="column">
                <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" required>
                    <mat-error *ngIf="detForm.controls.name.touched && detForm.controls.name.invalid">
                        <span *ngIf="detForm.controls.name.errors.required">This field is mandatory</span>
                        <span *ngIf="detForm.controls.name.errors.pattern">This field is invalid</span>
                    </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill" fxFlex>
                        <mat-label>Date de naissance</mat-label>
                        <input matInput formControlName="birthday" required>
                        <mat-error *ngIf="detForm.controls.birthday.touched && detForm.controls.birthday.invalid">
                            <span *ngIf="detForm.controls.birthday.errors.required">This field is mandatory</span>
                            <span *ngIf="detForm.controls.birthday.errors.pattern">This field is invalid</span>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill" fxFlex>
                        <mat-label>Lieu de naissance</mat-label>
                        <input matInput formControlName="birthplace" required>
                        <mat-error *ngIf="detForm.controls.birthplace.touched && detForm.controls.birthplace.invalid">
                            <span *ngIf="detForm.controls.birthplace.errors.required">This field is mandatory</span>
                            <span *ngIf="detForm.controls.birthplace.errors.pattern">This field is invalid</span>
                        </mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row wrap">
                    <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Post-Nom</mat-label>
                    <input matInput formControlName="firstname" required>
                    <mat-error *ngIf="detForm.controls.firstname.touched && detForm.controls.firstname.invalid">
                        <span *ngIf="detForm.controls.firstname.errors.required">This field is mandatory</span>
                        <span *ngIf="detForm.controls.firstname.errors.pattern">This field is invalid</span>
                    </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill" fxFlex>
                        <mat-label>Prenom</mat-label>
                        <input matInput formControlName="lastname" required>
                        <mat-error *ngIf="detForm.controls.lastname.touched && detForm.controls.lastname.invalid">
                            <span *ngIf="detForm.controls.lastname.errors.required">This field is mandatory</span>
                            <span *ngIf="detForm.controls.lastname.errors.pattern">This field is invalid</span>
                        </mat-error>
                    </mat-form-field>


                    <mat-form-field appearance="fill" fxFlex>
                        <mat-label>Sexe</mat-label>
                        <mat-select formControlName="sex">
                            <mat-option id="M" value="M">M</mat-option>
                            <mat-option id="F" value="F">F</mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>

                <div fxLayout="row wrap">
                    <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Ville</mat-label>
                    <input matInput formControlName="city" required>
                    <mat-error *ngIf="detForm.controls.city.touched && detForm.controls.city.invalid">
                        <span *ngIf="detForm.controls.city.errors.required">This field is mandatory</span>
                        <span *ngIf="detForm.controls.city.errors.pattern">This field is invalid</span>
                    </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill" fxFlex>
                        <mat-label>Groupe Sanguin</mat-label>
                        <input matInput formControlName="bloodtype" required>
                        <mat-error *ngIf="detForm.controls.bloodtype.touched && detForm.controls.bloodtype.invalid">
                            <span *ngIf="detForm.controls.bloodtype.errors.required">This field is mandatory</span>
                            <span *ngIf="detForm.controls.bloodtype.errors.pattern">This field is invalid</span>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill" fxFlex>
                        <mat-label>Etat Civil</mat-label>
                        <mat-select formControlName="maritalstatus">
                            <mat-option id="CELIBATAIRE" value="CELIBATAIRE">CELIBATAIRE</mat-option>
                            <mat-option id="MARIE" value="MARIE">MARIE(E)</mat-option>
                            <mat-option id="DIVORCE" value="DIVORCE">DIVORCE(E)</mat-option>
                            <mat-option id="VEUF" value="VEUF">VEUF(VE)</mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>


                <div fxLayout="row wrap">
                    <mat-form-field appearance="fill" fxFlex>
                        <mat-label>Categorie</mat-label>
                        <mat-select formControlName="categorie">
                            <mat-option *ngFor="let categorie of categories" [value]="categorie.id">
                                {{categorie.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" fxFlex>
                        <mat-label>Unité</mat-label>
                        <mat-select formControlName="unite">
                            <mat-option *ngFor="let unite of unites" [value]="unite.id">
                                {{unite.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" fxFlex>
                        <mat-label>Grade</mat-label>
                        <mat-select formControlName="grade">
                            <mat-option *ngFor="let gr of grades" [value]="gr.id">
                                {{gr.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
                <div fxLayout="row wrap">
                    <mat-form-field appearance="fill" fxFlex>
                        <mat-label>Bataillon</mat-label>
                        <mat-select formControlName="bataillon">
                            <mat-option *ngFor="let bt of bataillons" [value]="bt.id">
                                {{bt.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" fxFlex>
                        <mat-label>Province</mat-label>
                        <mat-select formControlName="province">
                            <mat-option *ngFor="let pr of provinces" [value]="pr.id">
                                {{pr.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
                <div fxLayout="row wrap">
                    <mat-form-field appearance="fill" fxFlex style="white-space: 50px;width: 750px;">
                        <mat-label>Adresse</mat-label>
                        <input matInput formControlName="address" required>
                        <mat-error *ngIf="detForm.controls.address.touched && detForm.controls.address.invalid">
                            <span *ngIf="detForm.controls.address.errors.required">This field is mandatory</span>
                            <span *ngIf="detForm.controls.address.errors.pattern">This field is invalide</span>
                        </mat-error>
                    </mat-form-field>
                </div>

            </div>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-raised-button style="color: white; background-color:#00c292;" types="submit"
            (click)="handleSubmit()" [disabled]="!(detForm.valid && detForm.dirty)">Save</button>
        <button mat-raised-button style="color: white; background-color: red;" mat-dialog-close>Close</button>
    </mat-dialog-actions>
