<app-header></app-header>
<!-- <app-mobile></app-mobile>  -->

<app-menu></app-menu>


<!-- Start Status area -->
<div class="notika-status-area">
    <div class="container">

        <body>
            <mat-card style="height: 50px;">
                <b><span style="margin: 20px; font-size: 20px; margin-top: 30px;">Dashboard</span></b>
            </mat-card>

            <mat-card>
                <div style="margin: 10px;">
                    <div class="row">
                        <div class="column">

                            <div class="cards">
                                <div class="containers">
                                    <h2 class="title">Total Equipement:</h2>
                                    <h1 class="title"></h1>
                                    <p><button type="button" class="btn btn-login btn-success button"
                                            routerLink="['/cafe/category']">Voir Equipement</button></p>
                                </div>

                            </div>

                        </div>

                        <div class="column">
                            <div class="cards">
                                <div class="containers">
                                    <h2 class="title">Total Utilisateur:</h2>
                                    <h1 class="title"></h1>
                                    <p><button type="button" class="button btn btn-login btn-success"
                                            routerLink="['/cafe/product']">Voir Utilisateurs</button></p>
                                </div>

                            </div>

                        </div>

                        <div class="column">
                            <div class="cards">
                                <div class="containers">
                                    <h2 class="title">Total Tag:</h2>
                                    <h1 class="title"></h1>
                                    <p><button type="button" class="button btn btn-login btn-success"
                                            routerLink="['/cafe/category']">Voir Tags</button></p>
                                </div>

                            </div>

                        </div>

                        <div class="column">
                            <div class="cards">
                                <div class="containers">
                                    <h2 class="title">Total Tag:</h2>
                                    <h1 class="title"></h1>
                                    <p><button type="button" class="button btn btn-login btn-success"
                                            routerLink="['/cafe/category']">Voir Tags</button></p>
                                </div>

                            </div>

                        </div>
                        <div class="column">
                            <div class="cards">
                                <div class="containers">
                                    <h2 class="title">Total Tag:</h2>
                                    <h1 class="title"></h1>
                                    <p><button type="button" class="button btn btn-login btn-success"
                                            routerLink="['/cafe/category']">Voir Tags</button></p>
                                </div>

                            </div>

                        </div>
                        <div class="column">
                            <div class="cards">
                                <div class="containers">
                                    <h2 class="title">Total Tag:</h2>
                                    <h1 class="title"></h1>
                                    <p><button type="button" class="button btn btn-login btn-success"
                                            routerLink="['/cafe/category']">Voir Tags</button></p>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </mat-card>
        </body>


    </div>
</div>
<!-- End Status area-->

<!-- Main Menu area End-->

<app-footer></app-footer>