<div style="width: 800px;">

    <mat-dialog-content class="mat-typography" style="width: 800px;">
        <mat-toolbar class="prim" style="width: 800px;">
            <mat-toolbar-row fxLayout="row">
                <span class="title-centers">{{dialogData.action}} Type </span>
            </mat-toolbar-row>
        </mat-toolbar>
        <form [formGroup]="typeForm">
            <div fxFlex fxLayout="column">
                <mat-form-field appearance="fill" fxFlex style="white-space: 50px;width: 750px;">
                    <mat-label>Nom Type</mat-label>
                    <input matInput formControlName="name" required>
                    <mat-error *ngIf="typeForm.controls.name.touched && typeForm.controls.name.invalid">
                        <span *ngIf="typeForm.controls.name.errors.required">This field is mandatory</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-raised-button style="color: white; background-color:#00c292;" types="submit"
            (click)="handleSubmit()" [disabled]="!(typeForm.valid && typeForm.dirty)">Save</button>
        <button mat-raised-button style="color: white; background-color: red;" mat-dialog-close>Close</button>
    </mat-dialog-actions>
</div>


