<div class="main-menu-area mg-tb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                    <li class="active"><a data-toggle="tab"  href="#Home"><i class="notika-icon notika-house"></i>Home</a>
                    </li >
                    <li><a data-toggle="tab" href="#Equipement" ><i class="notika-icon notika-house"></i>Equipement</a>
                    </li>
                    <li><a data-toggle="tab" href="#Detenteur"><i class="notika-icon notika-house"></i>Deténteur</a>
                    </li>
                    <li><a data-toggle="tab" href="#mailbox"><i class="notika-icon notika-print"></i>Rapports</a>
                    </li>
                    
                </ul>
                <div class="tab-content custom-menu-content">
                    <div id="Home" class="tab-pane in  notika-tab-menu-bg animated flipInX active">
                        <ul class="notika-main-menu-dropdown">
                            <li><a routerLink="/darshboard"  routerLinkActive="active-link">Dashboard</a>
                            </li>
                            <li><a routerLink="/utilisateur"  routerLinkActive="active-link">Utilisateurs</a>
                            </li>
                            
                        </ul>
                    </div>
                    <div id="mailbox" class="tab-pane notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li><a   (click)="r()">Rapport1</a>
                            </li>
                            <li><a (click)="rapport()">Rapport2</a>
                            </li>
                            <li><a href="compose-email.html">Rapport3</a>
                            </li>
                        </ul>
                    </div>
                    <div id="Equipement" class="tab-pane notika-tab-menu-bg animated flipInX ">
                        <ul class="notika-main-menu-dropdown">
                            <li><a routerLink="/types" routerLinkActive="active-link">Types</a>
                            </li>
                            <li><a routerLink="/equipement" routerLinkActive="active-link">Equipement</a>
                            </li>
                            <li><a routerLink="/tags" routerLinkActive="active-link">Tags</a>
                            </li>
                            <li><a routerLink="/equipementags" routerLinkActive="active-link">Equipement Tag</a>
                            </li>
                            <li><a routerLink="/equipementdet" routerLinkActive="active-link">Equipement Détenteur</a>
                            </li>
                        </ul>
                    </div>

                    <div id="Detenteur" class="tab-pane notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                           
                       
                            <li><a routerLink="/unites" routerLinkActive="active-link">Unités</a>
                            </li>
                            <li><a routerLink="/categories" routerLinkActive="active-link">Categories</a>
                            </li>
                            <li><a routerLink="/grades" routerLinkActive="active-link">Grades</a>
                            </li>
                            <li><a routerLink="/provinces" routerLinkActive="active-link">Provinces</a>
                            </li>
                            <li><a routerLink="/bataillons" routerLinkActive="active-link">Bataillons</a>
                            </li>
                            <li><a routerLink="/detenteurs" routerLinkActive="active-link">Détenteurs</a>
                            </li>
                            
                          
                        </ul>
                    </div>

                  
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <script type="text/javascript">
    $(document).ready(function(){
        $('li').on('click',function(){
            $(this).siblings().removeClass('active');
            $(this).addClass('active');
        })
    })

</script> -->
