

<mat-dialog-content class="mat-topography">
<mat-toolbar class="prim">
    <mat-toolbar-row fxLayout="row">
        <span class="title-center">EQUIPEMENTS LIES A CE DETENTEUR</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close mat-icon-button mat-dialog-close">
            <mat-icon>cancel</mat-icon>

        </button>
    </mat-toolbar-row>
</mat-toolbar>
    <table id="customers">
        <tr>
            <td><b>Name:</b>{{datas.name}}</td>
            <td><b>Post-Nom:</b>{{datas.firstname}}</td>
			<td><b>Prenom:</b>{{datas.lastname}}</td>
        </tr>

        <tr>
		     <td><b>Sexe:</b>{{datas.sex}}</td>
            <td><b>Grade:</b>{{datas.grade.name}}</td>
            <td><b>Unité:</b>{{datas.unite.name}}</td>
        </tr>

    </table>
</mat-dialog-content>

<div class="responsive_table">
    <br>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
        
      </ng-container>

     <ng-container matColumnDef="numero_serie">
        <th mat-header-cell *matHeaderCellDef>Numéro Serie</th>
        <td mat-cell *matCellDef="let element">{{element.numero_serie}}</td>
    
     </ng-container>

     <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let element">{{element.type.name}}</td>
    
     </ng-container>
     <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
     <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
    </table>


</div>