<div style="width: 800px;">


    <mat-dialog-content class="mat-typography" style="width: 800px;">
        <mat-toolbar class="prim" style="width: 800px;">
            <mat-toolbar-row fxLayout="row">
                <span class="title-centers">{{dialogData.action}}</span>
            </mat-toolbar-row>
        </mat-toolbar>
        <form [formGroup]="signupForm">
            <div fxFlex fxLayout="column">
                <mat-form-field appearance="fill" fxFlex style="white-space: 50px;width: 750px;">
                    <mat-label>User Name</mat-label>
                    <input matInput formControlName="username" required>
                    <mat-error *ngIf="signupForm.controls.username.touched && signupForm.controls.username.invalid">
                        <span *ngIf="signupForm.controls.username.errors.required">This field is mandatory</span>
                        <span *ngIf="signupForm.controls.username.errors.pattern">This field is invalid</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" fxFlex style="white-space: 50px;width: 750px;">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="first_name" required>
                    <mat-error *ngIf="signupForm.controls.first_name.touched && signupForm.controls.first_name.invalid">
                        <span *ngIf="signupForm.controls.first_name.errors.required">This field is mandatory</span>
                        <span *ngIf="signupForm.controls.first_name.errors.pattern">This field is invalid</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" fxFlex style="white-space: 50px;width: 750px;">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="last_name" required>
                    <mat-error
                        *ngIf="signupForm.controls.last_name.touched && signupForm.controls.last_name.invalid">
                        <span *ngIf="signupForm.controls.last_name.errors.required">This field is mandatory</span>
                        <span *ngIf="signupForm.controls.last_name.errors.pattern">This field is invalid</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" fxFlex style="white-space: 50px;width: 750px;">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" type="password" required>
                    <mat-error *ngIf="signupForm.controls.password.touched && signupForm.controls.password.invalid">
                        <span *ngIf="signupForm.controls.password.errors.required">This field is mandatory</span>
                        <span *ngIf="signupForm.controls.password.errors.pattern">This field is invalid</span>
                    </mat-error>
                </mat-form-field>


            </div>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-raised-button style="color: white; background-color:#00c292;" types="submit"
            (click)="handleSubmit()" [disabled]="!(signupForm.valid && signupForm.dirty)">Save</button>
        <button mat-raised-button style="color: white; background-color: red;" mat-dialog-close>Close</button>
    </mat-dialog-actions>
</div>