<div style="width: 800px;">

    <mat-dialog-content class="mat-typography" style="width: 800px;">
        <mat-toolbar class="prim" style="width: 800px;">
            <mat-toolbar-row fxLayout="row">
                <span class="title-centers">{{dialogData.action}} Equiepement</span>
            </mat-toolbar-row>
        </mat-toolbar>
        <form [formGroup]="eqForm">
            <div fxFlex fxLayout="column">
                <mat-form-field appearance="fill" fxFlex style="white-space: 50px;width: 750px;">
                    <mat-label>Nom Equipement</mat-label>
                    <input matInput formControlName="name" required>
                    <mat-error *ngIf="eqForm.controls.name.touched && eqForm.controls.name.invalid">
                        <span *ngIf="eqForm.controls.name.errors.required">Champ Obligatoire</span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" fxFlex style="white-space: 50px;width: 750px;">
                    <mat-label>Numéro Serie</mat-label>
                    <input matInput formControlName="numero_serie" required>
                    <mat-error *ngIf="eqForm.controls.numero_serie.touched && eqForm.controls.numero_serie.invalid">
                        <span *ngIf="eqForm.controls.numero_serie.errors.required">Champ Obligatoire</span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" fxFlex style="white-space: 50px;width: 300px;">
                    <mat-label>Date Fabrication yyyy-mm-dd</mat-label>
                    <input matInput formControlName="date_fabrication" required>
                    <mat-error
                        *ngIf="eqForm.controls.date_fabrication.touched && eqForm.controls.date_fabrication.invalid">
                        <span *ngIf="eqForm.controls.date_fabrication.errors.required">Champ Obligatoire</span>
                        <span *ngIf="eqForm.controls.date_fabrication.errors.pattern">Le format de la date est invalide respectez le format</span>
                    </mat-error>
                </mat-form-field>

                <!-- <mat-form-field appearance="fill">
                    <mat-label>Date Fabrication</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="date_fabrication" required>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error
                    *ngIf="eqForm.controls.date_fabrication.touched && eqForm.controls.date_fabrication.invalid">
                    <span *ngIf="eqForm.controls.date_fabrication.errors.required">This field is mandatory</span>
                  </mat-error>
                  </mat-form-field> -->

                <mat-form-field appearance="fill" fxFlex style="white-space: 50px;width: 750px;">
                    <mat-label>Type Equipemen</mat-label>
                    <mat-select formControlName="type">
                        <mat-option *ngFor="let typ of types" [value]="typ.id">
                            {{typ.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-raised-button style="color: white; background-color:#00c292;" types="submit"
            (click)="handleSubmit()" [disabled]="!(eqForm.valid && eqForm.dirty)">Save</button>
        <button mat-raised-button style="color: white; background-color: red;" mat-dialog-close>Close</button>
    </mat-dialog-actions>
</div>