.mat-toolbar{
    margin: -24px;
    width: auto;
    margin-bottom: 10px;
}

 .title-centers{
    flex: 1 1 auto;
    text-align: center;
 }

 mat-form-field{
    padding: 5px;
 }
 .prim{
 background-color: #00c292;
 color:white;
}