<!-- Start Header Top Area -->
<div class="header-top-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="logo-area">
                 <h5 style="color: white;">CONTROLE DES EQUIPEMENTS MILITAIRES</h5>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="header-top-menu">
                    <ul class="nav navbar-nav notika-top-nav">
                      
                        <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><span><i class="notika-icon notika-menus"></i></span></a>
                            <div role="menu" class="dropdown-menu message-dd chat-dd animated zoomIn">
                              
                                <div class="hd-message-info">
                                    <a href="#">
                                        <div class="hd-message-sn">
                                            <div class="hd-message-img chat-img">
                                                <div class="chat-avaible"><i class="notika-icon notika-logout"></i></div>
                                            </div>
                                            <div class="hd-mg-ctn">
                                                <h3>Déconnexion</h3>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="hd-message-sn">
                                            <div class="hd-message-img chat-img">
                                                <div class="chat-avaible"><i class="notika-icon notika-logout"></i></div>
                                            </div>
                                            <div class="hd-mg-ctn">
                                                <h3>Configuration</h3>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                              
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Header Top Area -->

