<div style="width: 800px;">


    <mat-dialog-content class="mat-typography" style="width: 800px;">
        <mat-toolbar class="prim" style="width: 800px;">
            <mat-toolbar-row fxLayout="row">
                <span class="title-centers">{{dialogData.action}} Bataillon </span>
            </mat-toolbar-row>
        </mat-toolbar>
        <form [formGroup]="eqtagForm">
            <div fxFlex fxLayout="column">
                
                <mat-form-field appearance="fill" fxFlex style="white-space: 50px;width: 750px;">
                    <mat-label>Tag</mat-label>
                    <mat-select formControlName="tag">
                        <mat-label>Rechercher...</mat-label>
                        <input type="text" class="p-2" autocomplete="off" matInput placeholder="Search.."
                        #multiTagSearch (input)="onInputChangeTag()">
                        <mat-option *ngFor="let tag of tags" [value]="tag.id">
                            {{tag.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
              
                <mat-form-field appearance="fill" fxFlex style="white-space: 50px;width: 750px;">
                    <mat-label>Equipement</mat-label>
                    <mat-select formControlName="equipment">
                        <mat-label>Rechercher...</mat-label>
                        <input type="text" class="p-2" autocomplete="off" matInput placeholder="Search.."
                        #multiEqSearch (input)="onInputChangeEq()">
                        <mat-option *ngFor="let eq of equipements" [value]="eq.id">
                            {{eq.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-raised-button style="color: white; background-color:#00c292;" types="submit"
            (click)="handleSubmit()" [disabled]="!(eqtagForm.valid && eqtagForm.dirty)">Save</button>
        <button mat-raised-button style="color: white; background-color: red;" mat-dialog-close>Close</button>
    </mat-dialog-actions>
</div>

